* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  padding: 5px;
}

nav {
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
}

aside {
  border-right: 1px solid black;
  height: calc(100vh - 70px);
  text-align: center;
}

.sidebar li {
  margin-top: 10px;
}

.sidebar {
  padding: 10px;
  width: 150px;
}

.cards {
  display: flex;
}

.cards_container {
  padding: 20px;
}
